/*
Color Pallette:
247BA0 lighter blue
011936 darker blue
DA502F red-orange
9D6381 purple/fuschia
*/

#header-container{
  text-align: left;
  background-color:#011936;
  padding: 2em;
  display: inline-block;
}
#header {
  font-family: 'Playfair Display', serif;
  color:white;
  display: inline-block

}
#title{
  font-weight: 900i;
  font-size: 3em;
  margin:0;
  display: inline-block;
}

#tag-line{
  font-style: italic;
  color: white;
}
#header-image{
  width: 8em;
  display: inline-block;
  vertical-align: center;
}

#about-container{
  display: inline-block;
  background-color: white;
  margin: 1.5em;
  padding: 1em;
}
#about-title{
  font-family: 'Playfair Display', serif;
  font-weight: 900;
}
#charity-title{
  font-family: 'Playfair Display', serif;
  font-weight: 900;
}
.regular-font{
  font-family: 'Dosis', sans-serif;
}
.subheader{
  font-family: 'Playfair Display', serif;
  font-weight: 900;
}

#charity-container{
  background-color:#9D6381;
}

#charity-description{
  background-color: white;
  margin: 0 2em;
}

#charity-blurb{
  text-align: justify;
}

#haircut-container{
  display: flex;
  flex-wrap: wrap;
}

#selector-container{
  margin: 3em;
}

.haircut-images{
  flex: 0 0 33%;
  border: .1em solid black;
  margin: 3em;
}

/* #charity-container{
  padding:2em;
} */
/* .centered{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
} */